
#   <%= stylesheet_link_tag "/application.scss" %>

# <%= render "layouts/navbar" %>
# <%= yield %>

# <div class="banner" style="
# background: rgba(212,228,239,1);
# background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
# background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
# background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
# background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
# background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
# background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
# filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );">


# <h1>
#   <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Si.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
#     <span class="wrap"></span>
#   </a>
# </h1>
#     <div class="banner-content">
#       <strong><p><br><h1>Propulsez votre entreprise a l'ere digitale</strong></h1>
#         <p><span class="explication-text-ban">Un expert en ligne vous accompagne dans la conception <br>de strategies digitales personnalisees</br></span>
#       </p>
#       <form><br> <input class="email" name="email" type="email" placeholder="Votre email">
#         <button type="submit" class="boutton">COMMENCER</button>
#       </form>
#     </div>
# </div>



#  <div class="tutoriel">      <center><strong><p><br><h2>Decouvrez le mode d'emploi</strong></h2></p></center>

#    <ul class="steps">
#           <li class="wd-100">
#               <img src="https://bradan.co/wp-content/uploads/2017/05/icon-blue-website-design-development.png" width="90" height="90" alt="">
#               <p class="title-action">Realisez un diagnostic gratuit</p>
#               <p class="fz-16 lightmorecolor fwb">Nous diagnostiquons les besoins de votre projet digital en testant gratuitement les forces et faiblesses de votre projet.</p>
#           </li>
#           <li class="wd-100">
#              <img src="http://monolo.eu/wp-content/uploads/2015/09/traditional-marketing-icon.png" width="90" height="90" alt="recieve">
#               <p class="title-action">Recevez la strategie la plus adaptee a vos besoins</p>
#               <p class="fz-16 lightmorecolor fwb"> Recevez un resultat personnalise qui fait etat vos forces et points a ameliorer pour developper votre presence digitale.<br> </p>
#           </li>
#           <li class="wd-100">
#              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVv9FgZmEh3tU4PASHdTChMDqH1CntAK31HBiltJ4wITyCwsk1" width="90" height="90" alt="">
#               <p class="title-action">Accedez a des tutoriels</p>
#               <p class="fz-16 lightmorecolor fwb"><br>Accedez a un manuel d'instruction personnalise en fonction de la nature de votre projet. </p>
#           </li>
#           <li class="wd-100">
#               <img src="https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-512.png" width="100" height="101" alt="">
#               <p class="title-action">Des experts en ligne 24/7 </p>
#               <p class="fz-16 lightmorecolor fwb"><br>Il vous accompagne dans la gestion de votre projet.</p>

#           </li>
#   </ul>

# </div>
