<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <meta content="charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheet/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheet/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheet/animate.min.css">
	<link rel="stylesheet" href="stylesheet/et-line-font.css">
	<link rel="stylesheet" href="stylesheet/nivo-lightbox.css">
	<link rel="stylesheet" href="stylesheet/nivo_themes/default/default.css">
	<link rel="stylesheet" href="stylesheet/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='fonts' type='text/css'>
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section -->


<!-- navigation section -->
<section id =navbar class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="/" class="navbar-wagon-brand" style = "height: 80px;
  width: 80px" > <img src="https://tbncdn.freelogodesign.org/876d0e5a-f228-4c12-915c-fb349f6b7305.png">
  </a>

		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">ACCUEIL</a></li>
				<li><a href="#work" class="smoothScroll">PROGRAMME DIGITAL</a></li>
				<li><a href="#about" class="smoothScroll">A PROPOS</a></li>
				<li><a href="#team" class="smoothScroll">TEST DIGITAL</a></li>
				<li><a href="#pricing" class="smoothScroll">PRIX</a></li>
				<li><a href="#contact" class="smoothScroll btn btn"
                style="background: #00c6d7;
                border-radius: 0;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 2px;">ESSAI GRATUIT</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url( )";>
	<div class="container" style="text-align:left;">
		<div class="row">
      <div class="col  text-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h2>Digitalisez votre activite</h2>
        <div class="  text-size-default line-height-default ">Vous comptez sur le digital pour alimenter la croisssance de  votre entreprise, mais vous <br>ne savez pas par ou commencer ? <br> Testez vos besoins, recevez et deployez votre strategie digitale avec la plateforme NextStep. </div>
				<a href="#contact" class="smoothScroll btn btn-danger">ESSAI GRATUIT</a>
				<a href="#team" class="smoothScroll btn btn-default">Regarder la demo </a>
			</div>

      <div class="col  text-left col-xs-12 col-sm-6 col-md-6 col-lg-6" >
      <img src="https://getbase.com/assets/img/home/product-scene.png" style="
    width: 900px">
      </div>

		</div>
	</div>
 </section>

 <!-- clients companies section -->

<section id="quoi"style="background-color : beige, url( )";>
  <div class="container"
    style="text-align: left;
    margin-top: 60px;
    margin-bottom: 30px;">
  <div class="col  text-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="headingComponent parbase section">
      <h2 id="nextstep-quest-ce-que-cest"><span class="header-text">NexStep, qu'est-ce que c'est ?</span></a></h2>
    </div>

    <div class="bodyCopyComponent parbase section">
      <div class="  text-size-default line-height-default "> C'est un outil intuitif en ligne qui vous permettra de gérer toutes les etapes pour digitaliser votre activite avec l'aide d'experts du marketing en ligne. Notre solution vous aidera à travers des tutoriels pour generer des ventes...Et tout cela depuis une plateforme unique.
      </div>

    </div>

    <div class="parbase buttonCTAComponent section">
      <div class="margin-0-top-md margin-0-top-sm margin-0-top-xs margin-40-bottom-lg margin-40-bottom-md margin-0-bottom-sm margin-0-bottom-xs text-left">
        <div class="buttonCTAItemComponent parbase cta_0">
          <div class="btn-container ">
            <a role="button" class="smoothScroll btn btn"
                style="background: #00c6d7;
                border-radius: 0;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 2px; margin-top: 20px;"<span>                              En savoir plus              <span class="salesforce-icon icon-sfdc-icon-right-arrow"></span></span>                    </a>            </div></div></div></div></div>



</br>

  <div class="col  text-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="headingComponent parbase section">
      <h2 id="nextstep-quest-ce-que-cest"><span class="header-text">Nous avons digitalise des centaines de TPE et PME</span></a></h2>
    </div>
  </div>

   <div class="parbase buttonCTAComponent section">

  <div class="Logos-item">
    <img width="80" alt="Pandora" srcset="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/07/law-firm-logo.jpg">
  </div>

  <div class="Logos-item">
  <img width="70" alt="Ebay" srcset="https://speckyboy.com/wp-content/uploads/2010/07/constructionlogo_20.jpg">
  </div>

  <div class="Logos-item">
  <img width="50" alt="Toyota" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr9X3PxlIoMAwfZpap9npAxJY0PlP11y2ruwaxyg9bKxVtRevJKg">
  </div>

  <div class="Logos-item">
  <img width="59" alt="Nike" srcset="https://i.pinimg.com/236x/93/5f/7c/935f7c0777c9ba6585879bbaac3368b4--marketing-firms-logo-google.jpg">
  </div>


  <div class="Logos-item">
  <img width="70" alt="Espn" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpLBafpFYGUoOzV-q0wpNjxDFUDlhsTXbLgqBq1gL70jwKgNh3">
  </div>

</div>
</div>
</div>
    </div>

</div>
 </section>


<!-- work section -->
<section id="work">
	<div class="container" style = "text-align: left; ">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="headingComponent parbase section">
      <h2 id="nextstep-quest-ce-que-cest"><span class="header-text">Comment fonctionne la plateforme NextStep ? </h2>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="glyphicon glyphicon-list-alt  "></i>
					<h3>ETAPE 1 : TEST DIGITAL GRATUIT</h3>
					<hr>
					<p>Pour cerner les forces et faiblesses de la digitalisation de votre entreprise, nous vous recommandons de passer le test. Nos experts analyseront la nature de votre projet , votre budget par un questionnaire precis. Ce test gratuit vous fera gagner en productivite.</p>




			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="glyphicon glyphicon-bell"></i>
					<h3>ETAPE 2 : UNE PLATEFORME INTERACTIVE DE TUTORIELS </h3>
					<hr>
					<p>Campagnes emailing, referencement SEO/SEA, creation d'un site responsive, creation de banieres web, meilleures pratiques digitales...la plateforme tout-en-un vous propose des tutoriels intuitifs qui vous guidront pas a pas dans une digitalisation progressive. </p>



			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="glyphicon glyphicon-expand  "></i>
					<h3>ETAPE 3 : UN COACH DIGITAL </h3>
					<hr>
					<p>Nos coach experts du digital sont accessibles en ligne via une plateforme de tutoriels simplifies. Ne croulez plus sous les jargons techniques. Etape par etape, ils vous guident en s adaptant a votre niveau et votre strategie .En se focalisant sur l essentiel le deploiement de votre projet sera assure .</p>


			</div>

		</div>
	</div>
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
 					<h1 class="heading bold">Des tutoriels pour developper votre presence digitale etape par etape </h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="https://connected-culture.com/wp-content/uploads/2017/02/burnout.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold"> </h3>
				<h1 class="heading bold">Le partenaire digital des TPE et PME</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#accessible" aria-controls="accessible" role="tab" data-toggle="tab">ACCESSIBLE A TOUS </a></li>
					<li><a href="#mesure" aria-controls="mesure" role="tab" data-toggle="tab">SOLUTION SUR MESURE</a></li>
					<li><a href="#economique" aria-controls="economique" role="tab" data-toggle="tab">SOLUTION ECONOMIQUE</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="accessible">
						 <li>Nexstep a une vision dedramatisee de la digitalisation . Point essentiel pour les TPE, PME ou createur d entreprise debutant dans leur projet digital .
            Cet accompagnement personnalise sous la forme de tutoriels en fonction de votre strategie digitale vous permettra la comprehension et la maitrise du digital.</li>
         </div>
         <div role="tabpanel" class="tab-pane" id="mesure">
          <li>
           La digitalisation est financierement accessible a tous .Tout dirigeant d'entreprise doit se former et former son equipe pour eviter la perte des clients notamment pour les sous traitants . Les cabinets de consulting etant couteux , nous vous permettons
         </li>
         </div>
         <div role="tabpanel" class="tab-pane" id="economique">
						<p> La digitalisation, c'est quelque chose de simple et de pas forcément coûteux. "Il faut dédramatiser la digitalisation sans minorer les effets du retard : à terme, les PME risquent de perdre leurs clients, je pense notamment à tous les sous-traitants."</p>
						<p><a href="#">Cela épargne les dirigeants  des TPE, PME ou createur d'entreprise de toute supposition, toute recherche DE FORMATION ET DE CABINET DE CONSULTING TROP CHER.  ET LEUR PERMET DE SE focaliser SUR L'ESSENTIEL : LA REUSSITE DE LEUR ENTREPRISE.</p>


					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
 					<h1 class="heading bold">Mon entreprise est-elle suffisamment digitalisee?</h1>
					<hr>
				</div>
			</div>
			 <div class="col-md-12 center-block">
          <a href="testdigital"><button class="btn btn-danger center-block">TESTER MON ENTREPRISE</button></a>
        </div>


		</div>
	</div>
</section>






<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
 					<h1 class="heading bold">Integrer le programme de transformation digitale</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">Contactez nous pour amorcer votre digitalisation</h2>
				<p>Apres evaluation de votre demande, nous vous contacterons sous 48 heures pour amorcer votre transformation digitale.</p>

				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>nexstep@nexstep</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
					<p>0511111111</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Nom" name="Nom">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="Email">
					</div>
          <div class="col-md-6 col-sm-6">
            <input type="telephone" class="form-control" placeholder="Telephone" name="Telephone">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="site web" class="form-control" placeholder="Site web de votre entreprise" name="Site web ">
          </div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Quel est votre projet digital ?" rows="7" name="message"></textarea>
					</div>
          <div class="col-md-12 col-sm-12">
          <select class=form-control>
           <option value=un>PAIEMENT PLUSIEURS FOIS</option>
           <option value=deux>PAIEMENT UNE FOIS </option>

          </select>
          </div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="RECEVOIR UNE PROPOSITION">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>



<!-- pricing section -->
<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="section-title">
           <h1 class="heading bold">Nos formules</h1>
          <hr>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
          <div class="plan_title">
            <i class="icon-mobile medium-icon"></i>
            <h3>PAIEMENT EN PLUSIEURS FOIS</h3>
            <h2>$350 <span>par mois (pendant 3 mois)</span></h2>
          </div>
          <ul>
                      <li>Consulation intiale</li>
            <li>Audit digital</li>
            <li>Strategie digitale personnalisee</li>
                        <li>Formation</li>

          </ul>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
          <div class="plan_title">
            <i class="icon-cloud medium-icon"></i>
            <h3>PAIEMENT EN UNE FOIS</h3>
            <h2>$850 <span>pour les 3 mois (economie de 70$)</span></h2>
          </div>
          <ul>
            <li>Consulation intiale</li>
            <li>Audit digital</li>
            <li>Strategie digitale personnalisee</li>
                        <li>Formation</li>


          </ul>
        </div>
      </div>
     <div class="col-md-12 center-block">
          <a href="#contact"><button class="btn btn-danger center-block"> INTEGRER LE PROGRAMME DIGITAL</button></a>
        </div>
    </div>
  </div>

</section>


<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright © NextStep </p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
