<div class='container-quizz'>
  <div class='question'>
    <h2 class='title-test'>Question 1</h2>
    <p><code>var</code>, <code>let</code>, and <code>const</code> differ in what ways?</p>
    <ol>
      <li data-choice="A">One has function scope, one has block scope, one has lexical scope.</li>
      <li data-choice="B">One has function scope, two have block scope, one contains objects you cannot change.</li>
      <li data-choice="C">One has function scope, two have block scope, one cannot be reassigned but can be redeclared.</li>
      <li data-choice="D">One has function scope, two have block scope, one cannot be reassigned and cannot be redeclared.</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 2</h2>
    <p>Which isn't a JavaScript value type?</p>
    <ol>
      <li data-choice="A">Symbol</li>
      <li data-choice="B">Null</li>
      <li data-choice="C">Object</li>
      <li data-choice="D">Number</li>
      <li data-choice="E">Undefined</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 3</h2>
    <p>Which isn't a way to initialize an object?</p>
    <ol>
      <li data-choice="A">evaluating object literal syntax</li>
      <li data-choice="B">calling the Object constructor</li>
      <li data-choice="C">creating an instance of Object</li>
      <li data-choice="D">invoking the Object constructor's create method</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 4</h2>
    <p>Which is a value as well as a type?</p>
    <ol>
      <li data-choice="A">NaN</li>
      <li data-choice="B">Infinity</li>
      <li data-choice="C">Null and Undefined</li>
      <li data-choice="D">Boolean</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 5</h2>
    <p>What does it mean to say Function is first-class?</p>
    <ol>
      <li data-choice="A">Function declarations are hoisted and invoked before other code in the same function scope.</li>
      <li data-choice="B">All objects are created by invoking a constructor function.</li>
      <li data-choice="C">Functions are a data type.</li>
      <li data-choice="D">A Function is an object and can be treated as a value.</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 6</h2>
    <p>In what situation is a for/while loop usually favored over alternatives...</p>
    <ol>
      <li data-choice="A">To build a new array with a different data structure, calculated value or formatting.</li>
      <li data-choice="B">To build a new array that is a different length.</li>
      <li data-choice="C">To convert an array to a flattened value.</li>
      <li data-choice="D">When the action that needs to be iterated produces side effects.</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 7</h2>
    <p>What are not examples of using high order functions?</p>
    <ol>
      <li data-choice="A">callbacks</li>
      <li data-choice="B">composition</li>
      <li data-choice="C">currying</li>
      <li data-choice="D">partial function application</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 8</h2>
    <p>Which doesn't have lexical scope?</p>
    <ol>
      <li data-choice="A">variables in closures</li>
      <li data-choice="B">variables in arrow functions</li>
      <li data-choice="C">the this keyword in arrow functions</li>
      <li data-choice="D">the this keyword in object literals</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 9</h2>
      <p>Which is the most accurate way to describe the <code>this</code> keyword?</p>
    <ol>
      <li data-choice="A">the object instance the current function is being called on behalf of</li>
      <li data-choice="B">the execution context</li>
      <li data-choice="C">the object the current function is a method of</li>
      <li data-choice="D">the function that the current function was invoked from</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 10</h2>
      <p>What do all initialized objects include?</p>
    <ol>
      <li data-choice="A">Function as their base class</li>
      <li data-choice="B">their value in JSON form</li>
      <li data-choice="C">their constructor's properties, methods, and prototype chain.</li>
      <li data-choice="D">Object as their base class</li>
    <ol>
  </div><div class='question hidden'>
    <h2 class='title-test'>Question 11</h2>
      <p>Which is an example of delegation?</p>
    <ol>
      <li data-choice="A">assigning <code>this</code> to a variable</li>
      <li data-choice="B">calling a property off of the <code>this</code> keyword</li>
      <li data-choice="C">using the <code>new</code> keyword to initialize an object</li>
      <li data-choice="D">Reflect.apply(foo.bar, baz)</li>
    <ol>
  </div>
  <div class='question results hidden'>
    <button>Show My Answers</button>
  </div>
</div>
