@import "bootstrap-sprockets";
@import "bootstrap";

.h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12.5px;
}

.tutoriel {
       padding-top: 40px !important;
    padding-right: 6.6vw !important;
    padding-bottom: 30px !important;
    padding-left: 6.6vw !important;
    line-height: 28px !important;
    font-weight: 300;
    color: darkblue;
    box-sizing: border-box;
}
.advantage{
  align-items:center;
    padding-top: 30px;
    background-color: black;
    text-align: center;
    margin-bottom: 35px;

}

.bloc{
      color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    text-align: left;
}

.titre{
 color: white;
 font-weight:bold;

}
.title-action {
    font-size: 14px !important;
    line-height: 28px !important;
    font-weight: 350;
}



ul {
    padding: 40px 60px 40px 60px;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.wd-100{
     width: 20%;
    font-size: 14PX;
}


body {
  font-weight: lighter;
  background: white;
}

#logo {
  height: 10vh;
}

.pourquoi{
      width: 60%;
    font-size: 14px;
    text-transform: lowercase;
}

