<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand" style = "height: 100px;
  width: 100px" >
    <%= image_tag 'https://tbncdn.freelogodesign.org/876d0e5a-f228-4c12-915c-fb349f6b7305.png' %>
  </a>

  <!-- Right Navigation -->
  </div>
